.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: var(--font-sm);
  color: var(--color-foreground);
  cursor: pointer;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
  outline: none;
  transition: 0.2s;
  transition-property: border-color, color, background-color;

  &:focus-visible {
    outline: 2px solid var(--color-neutral-400);
    outline-offset: 2px;
  }

  &.critical {
    color: #f43f5e;
    border-color: #f43f5e;

    &:hover {
      background-color: rgb(244 63 94 / 10%);
    }
  }

  &.recommended {
    font-size: var(--font-xsm);
    color: #22c55e;
    border-color: #22c55e;

    &:hover {
      background-color: rgb(34 197 94 / 10%);
    }
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-neutral-200);
  }
}
