.item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px 12px;
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: 1;
  color: var(--color-foreground-subtle);
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;
  outline: none;
  transition: 0.2s;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:not(:disabled):hover {
    color: var(--color-foreground);
    background-color: var(--color-neutral-200);
  }

  & .icon {
    color: var(--color-foreground);
  }
}
