.wrapper {
  & .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: var(--font-md);
    color: var(--color-foreground);
    pointer-events: auto;
    cursor: pointer;
    background-color: var(--bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: 50%;
    transition: 0.2s;

    &:focus-visible {
      outline: 2px solid var(--color-muted);
      outline-offset: 2px;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--bg-tertiary);
    }
  }
}

.menu {
  z-index: 15;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 270px;
  height: max-content;
  max-height: var(--radix-dropdown-menu-content-available-height);
  padding: 4px;
  overflow: auto;
  background-color: var(--component-bg);
  border: 1px solid var(--color-border);
  border-radius: 8px;
}

.globalVolume {
  width: 100%;
  padding: 12px;

  & label {
    display: block;
    margin-bottom: 8px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-foreground-subtle);
  }

  & input {
    width: 100%;
    min-width: 0;
  }
}
