.sounds {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;

  & .sound {
    padding: 8px 16px;
    font-size: var(--font-sm);
    font-weight: 500;
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-200);
    border-radius: 100px;
  }
}
