.category {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  & .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    & .tail {
      width: 1px;
      height: 75px;
      background: linear-gradient(transparent, var(--color-muted));
    }

    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      font-size: var(--font-md);
      background: linear-gradient(
        var(--bg-secondary),
        var(--bg-tertiary)
      );
      border: 1px solid var(--color-border);
      border-radius: 50%;
    }
  }

  & .title {
    font-family: var(--font-display);
    font-size: var(--font-lg);
    font-weight: 600;
    text-align: center;
  }
}
