version: '3.9'
services:
  moodist:
    image: walllee/moodist:latest
    logging:
      options:
        max-size: 1g
    restart: always
    ports:
      - '8080:8080'
    volumes:
      # 挂载 SQLite 数据库文件和 WAL 文件
      - ./data:/app/data:rw
    environment:
      - NODE_ENV=production
