.gradient {
  width: 100%;
  height: 3px;
  background: linear-gradient(
    83deg,
    rgb(186 240 112) 3%,
    rgb(121 232 101) 16%,
    rgb(101 229 178) 28%,
    rgb(98 111 234) 40%,
    rgb(200 89 228) 52%,
    rgb(245 92 157) 65%,
    rgb(246 104 78) 77%,
    rgb(254 155 70) 89%,
    rgb(255 200 71) 100%
  );
}
