.unselectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-family: var(--font-heading);
  font-size: var(--font-md);
  line-height: 0;
  color: var(--color-foreground);
  cursor: pointer;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
  border-radius: 100px;
  outline: none;
  transition: 0.2s;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--color-neutral-200);
  }
}

.tooltip {
  padding: 6px 12px;
  font-size: var(--font-xsm);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 100px;
}
