.unselectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-family: var(--font-heading);
  font-size: var(--font-md);
  line-height: 0;
  color: var(--color-foreground);
  cursor: pointer;
  background-color: var(--bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 100px;
  transition: 0.2s;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.97);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--bg-tertiary);
  }

  &:focus-visible {
    outline: 2px solid var(--color-muted);
    outline-offset: 2px;
  }
}

.tooltip {
  padding: 6px 12px;
  font-size: var(--font-xsm);
  background-color: var(--bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 100px;
}
