.wrapper {
  display: flex;
  column-gap: 4px;
  align-items: center;
  height: 45px;
  padding: 4px;
  margin-top: 12px;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;

  & .checkbox {
    display: block;
    margin: 0 8px 0 4px;
  }

  & .textbox {
    flex-grow: 1;
    min-width: 0;
    height: 100%;
    font-size: var(--font-sm);
    color: var(--color-foreground);
    background-color: transparent;
    border: none;
    outline: none;

    &.done {
      color: var(--color-foreground-subtle);
      text-decoration: line-through;
    }
  }

  & .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: #f43f5e;
    cursor: pointer;
    background-color: rgb(244 63 94 / 15%);
    border: none;
    border-radius: 4px;
  }
}
