.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 45px;
  padding: 4px;
  margin-top: 12px;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;

  &::before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 80%;
    height: 1px;
    content: '';
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-neutral-300),
      transparent
    );
    transform: translateX(-50%);
  }

  & input {
    flex-grow: 1;
    min-width: 0;
    height: 100%;
    padding: 0 8px;
    color: var(--color-foreground);
    background-color: transparent;
    border: none;
    outline: none;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 16px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-foreground);
    cursor: pointer;
    background-color: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-300);
    border-radius: 4px;
  }
}
