.form {
  display: flex;
  flex-direction: column;
  row-gap: 28px;

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-weight: 500;
    color: var(--color-neutral-50);
    cursor: pointer;
    background-color: var(--color-neutral-950);
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 -3px 0 var(--color-neutral-700);
  }
}

.timeFields {
  display: flex;
  column-gap: 12px;
  align-items: flex-end;
  justify-content: space-between;
}
