---
import { Balancer } from 'react-wrap-balancer';
import { FaQuestion } from 'react-icons/fa/index';

import { Container } from '@/components/container';
import { count as soundCount } from '@/lib/sounds';

const count = soundCount();
---

<div class="about">
  <Container>
    <div class="iconContainer">
      <div class="tail"></div>
      <div class="icon">
        <FaQuestion />
      </div>
    </div>

    <h2 class="title">What is Moodist?</h2>
    <p class="desc">
      <Balancer>
        Moodist is a free and open-source ambient sound generator featuring <span
          class="counter">{count} carefully curated sounds</span
        >. Create your ideal atmosphere for relaxation, focus, or creativity
        with this versatile tool.
      </Balancer>
    </p>
  </Container>
</div>

<style>
  .about {
    padding: 80px 0;

    & .iconContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      & .tail {
        width: 1px;
        height: 75px;
        background: linear-gradient(transparent, var(--color-neutral-300));
      }

      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        font-size: var(--font-base);
        background-color: var(--color-neutral-100);
        border: 1px solid var(--color-neutral-300);
        border-radius: 50%;
      }
    }

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 600;
      text-align: center;
    }

    & .desc {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      line-height: 1.7;
      color: var(--color-foreground-subtle);
      text-align: center;

      & .counter {
        color: var(--color-foreground);
      }
    }
  }
</style>
