---
import { RiSparkling2Line } from 'react-icons/ri/index';

import { Container } from '@/components/container';
---

<div class="ready">
  <Container>
    <div class="wrapper">
      <div class="iconContainer">
        <div class="tail"></div>
        <div class="icon">
          <RiSparkling2Line />
        </div>
      </div>

      <h2 class="title">Are you ready?</h2>
      <p class="desc">Create your calm oasis in seconds!</p>
      <button class="button" id="button"> Use Moodist</button>
    </div>
  </Container>
</div>

<script>
  const button = document.getElementById('button');

  button?.addEventListener('click', () => {
    const app = document.getElementById('app');

    app?.scrollIntoView(true);
  });
</script>

<style>
  .ready {
    & .wrapper {
      position: relative;
      padding: 0 20px 40px;
      background: linear-gradient(transparent, var(--color-neutral-100));
      border-radius: 0 0 20px 20px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 70%;
        height: 1px;
        content: '';
        background: linear-gradient(
          90deg,
          transparent,
          var(--color-neutral-300),
          transparent
        );
        transform: translateX(-50%);
      }
    }

    & .iconContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      & .tail {
        width: 1px;
        height: 75px;
        background: linear-gradient(transparent, var(--color-neutral-300));
      }

      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        font-size: var(--font-md);
        color: #fbbf24;
        background-color: var(--color-neutral-100);
        border: 1px solid var(--color-neutral-300);
        border-radius: 50%;
      }
    }

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 600;
      text-align: center;
    }

    & .desc {
      color: var(--color-foreground-subtle);
      text-align: center;
    }

    & .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 40px;
      margin: 24px auto 0;
      font-family: var(--font-heading);
      font-size: var(--font-sm);
      line-height: 0;
      color: var(--color-neutral-200);
      text-decoration: none;
      cursor: pointer;
      background-color: var(--color-neutral-700);
      border: none;
      border-top: 2px solid var(--color-neutral-950);
      border-bottom: 3px solid var(--color-neutral-600);
      border-radius: 100px;
      outline: none;
    }
  }
</style>
