.heading {
  font-family: var(--font-heading);
  font-size: var(--font-md);
  font-weight: 700;
}

.desc {
  margin-top: 12px;
  line-height: 1.6;
  color: var(--color-foreground-subtle);
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 4px;
  margin-top: 12px;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-200);
  border-radius: 4px;

  & input {
    flex-grow: 1;
    height: 100%;
    padding: 0 10px;
    font-size: var(--font-sm);
    color: var(--color-foreground);
    background: transparent;
    border: none;
    outline: none;
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    color: var(--color-foreground);
    cursor: pointer;
    background-color: var(--color-neutral-100);
    border: none;
    border-radius: 4px;
    outline: none;
    transition: 0.2s;

    &:hover {
      background-color: var(--color-neutral-200);
    }
  }
}
