.about {
  margin-top: 80px;

  & .title {
    font-family: var(--font-display);
    font-size: var(--font-lg);
    font-weight: 600;
  }

  .paragraph {
    padding: 30px 0;
    background: linear-gradient(
      transparent,
      var(--color-neutral-50) 10%,
      var(--color-neutral-50) 90%,
      transparent
    );

    & .counter {
      width: max-content;
      padding: 6px 16px;
      margin-bottom: 12px;
      font-size: var(--font-xsm);
      color: var(--color-foreground-subtle);
      background: linear-gradient(var(--color-neutral-100), transparent);
      border: 1px solid var(--color-neutral-300);
      border-radius: 20px 20px 20px 8px;

      & span {
        font-weight: 500;
        color: var(--color-foreground);
      }
    }

    & .desc {
      line-height: 1.6;
      color: var(--color-foreground-subtle);

      /* text-align: center; */
    }
  }

  /* & .divider {
    width: 80px;
    height: 1px;
    margin: 0 auto 24px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-neutral-300),
      transparent
    );
  } */
}
