.about {
  margin-top: 80px;

  & .iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    & .tail {
      width: 1px;
      height: 75px;
      background: linear-gradient(transparent, var(--color-neutral-300));
    }

    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      font-size: var(--font-md);
      background-color: var(--color-neutral-100);
      border: 1px solid var(--color-neutral-300);
      border-radius: 50%;
    }
  }

  & .title {
    margin-bottom: 8px;
    font-family: var(--font-display);
    font-size: var(--font-lg);
    font-weight: 600;
    text-align: center;
  }

  & .desc {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--color-foreground-subtle);
    text-align: center;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }

  & .divider {
    width: 80px;
    height: 1px;
    margin: 0 auto 24px;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-neutral-300),
      transparent
    );
  }
}
