.timer {
  position: relative;
  padding: 8px;
  overflow: hidden;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  & .header {
    position: relative;
    top: -8px;
    width: 100%;

    & .bar {
      height: 2px;
      margin: 0 -8px;
      background-color: var(--color-neutral-200);

      & .completed {
        height: 100%;
        background-color: var(--color-neutral-500);
        transition: 0.2s;
      }
    }
  }

  & .footer {
    display: flex;
    column-gap: 4px;
    align-items: center;

    & .control {
      display: flex;
      flex-grow: 1;
      column-gap: 4px;
      align-items: center;
      height: 40px;
      padding: 4px;
      background-color: var(--color-neutral-50);
      border: 1px solid var(--color-neutral-200);
      border-radius: 4px;

      & .input {
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        height: 100%;
        padding: 0 8px;
        color: var(--color-foreground-subtle);
        background-color: transparent;
        border: none;
        border-radius: 4px;
        outline: none;

        &.finished {
          text-decoration: line-through;
        }
      }

      & .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: var(--color-foreground);
        cursor: pointer;
        background-color: var(--color-neutral-200);
        border: 1px solid var(--color-neutral-300);
        border-radius: 2px;
        outline: none;
        transition: 0.2s;

        &.reset {
          background-color: var(--color-neutral-100);
          border: none;
        }

        &:disabled,
        &.disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    & .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      color: #f43f5e;
      cursor: pointer;
      background-color: rgb(244 63 94 / 10%);
      border: none;
      border-radius: 4px;
      outline: none;
      transition: 0.2s;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  & .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-family: var(--font-mono);
    font-size: var(--font-2xlg);
    font-weight: 700;

    & span {
      color: var(--color-foreground-subtle);
    }
  }
}
