.range {
  width: 100%;
  max-width: 120px;
  margin-top: 10px;

  /********** Range Input Styles **********/

  /* Range Reset */
  appearance: none;
  cursor: pointer;
  background: transparent;

  /* Removes default focus */
  &:focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/

  &::-webkit-slider-runnable-track {
    height: 0.5rem;
    background-color: #27272a;
    border-radius: 0.5rem;
  }

  &::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    appearance: none;
    background-color: #3f3f46;
    border: 1px solid #52525b;
    border-radius: 50%;
  }

  &:not(:disabled):focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }

  /******** Firefox styles ********/

  &::-moz-range-track {
    height: 0.5rem;
    background-color: #27272a;
    border-radius: 0.5rem;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -3px;
    background-color: #3f3f46;
    border: none;
    border: 1px solid #52525b;
    border-radius: 0;
    border-radius: 50%;
  }

  &:not(:disabled):focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
  }
}
