---
import Layout from '@/layouts/layout.astro';

import { Hero } from '@/components/hero';
import { App } from '@/components/app';
import { About } from '@/components/about';
import { WhySection } from '@/components/why-section';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <App client:load />
    <About />
    <WhySection />
  </main>
</Layout>

<style>
  main {
    padding-bottom: 100px;
  }
</style>
