---
import Layout from '@/layouts/layout.astro';

import { Hero } from '@/components/hero';
import { Categories } from '@/components/categories';
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Categories client:load />
  </main>
</Layout>

<style>
  main {
    padding-bottom: 100px;
  }
</style>
