---
import { Container } from '../container';

interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="about">
  <Container tight>
    <h3 class="title">About This Tool</h3>
    <p class="text">{text}</p>
  </Container>
</div>

<style>
  .about {
    margin: 75px 0;
  }

  .title {
    margin-bottom: 8px;
    font-family: var(--font-heading);
    font-size: var(--font-md);
    font-weight: 600;
  }

  .text {
    line-height: 1.6;
    color: var(--color-foreground-subtle);
  }
</style>
