---
import { Container } from '../container';

interface Props {
  desc: string;
  title: string;
}

const { desc, title } = Astro.props;
---

<section class="hero">
  <Container>
    <img alt="Moodist Logo" class="logo" src="/logo.svg" />
    <h1>{title}</h1>
    <p class="desc">{desc}</p>
    <p class="moodist">Part of <a href="/">Moodist</a></p>
  </Container>
</section>

<style>
  .hero {
    padding: 75px 0;
    text-align: center;

    & .logo {
      display: block;
      width: 45px;
      margin: 0 auto 16px;
    }

    h1 {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 600;
    }

    .desc {
      margin-top: 4px;
      color: var(--color-foreground-subtle);
    }

    .moodist {
      margin-top: 16px;
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);

      & a {
        font-weight: 500;
        color: var(--color-foreground);
        text-decoration: none;
      }
    }
  }
</style>
