.favoriteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 0;
  color: var(--color-foreground-subtle);
  cursor: pointer;
  background-color: var(--component-bg);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    color: var(--color-foreground);
    background-color: var(--component-hover);
  }

  &:focus-visible {
    outline: 2px solid var(--color-muted);
    outline-offset: 2px;
  }

  &.isFavorite {
    color: var(--color-foreground);
    background-color: var(--component-active);
  }
}
