& .form {
  display: flex;
  flex-direction: column;

  & .field {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 16px;

    & .label {
      font-size: var(--font-sm);
      color: var(--color-foreground);

      & span {
        color: var(--color-foreground-subtle);
      }
    }

    & .input {
      display: block;
      height: 40px;
      padding: 0 8px;
      color: var(--color-foreground);
      background-color: var(--color-neutral-50);
      border: 1px solid var(--color-neutral-200);
      border-radius: 4px;
      outline: none;

      &:focus-visible {
        outline: 2px solid var(--color-neutral-400);
        outline-offset: 2px;
      }
    }
  }
}
