.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 45px;
  font-family: var(--font-heading);
  font-size: var(--font-base);
  line-height: 0;
  color: var(--color-neutral-200);
  cursor: pointer;
  background-color: var(--color-neutral-950);
  border: 1px solid var(--color-neutral-50);
  border-radius: 100px;
  outline: none;
  transition: 0.2s;

  &:hover {
    background-color: var(--color-neutral-800);
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  & span {
    font-size: var(--font-lg);
  }
}
