.about {
  padding: 80px 0;

  & .titleWrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 600;
    }

    & .line {
      height: 1px;
      flex-grow: 1;
      background: linear-gradient(90deg, var(--color-neutral-300), transparent);
      transform: translateY(-0.25rem);
    }
  }

  & .desc {
    color: var(--color-foreground-subtle);
    line-height: 1.7;

    & span {
      color: var(--color-foreground);
    }
  }
}
