---
import { getTranslator } from '@/i18n/utils';
import { Container } from './container';

const currentLocale = Astro.currentLocale || 'en';
const t = await getTranslator(currentLocale);
---

<footer class="footer">
  <Container>
    <p
      set:html={t('created-by', {
        authorLink: '<a href="https://twitter.com/remvze">Maze ✦</a>',
      })}
    />
  </Container>
</footer>

<style>
  .footer {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .footer p {
    margin: 0;
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);
    text-align: center;
  }

  .footer p a {
    font-weight: 500;
    color: var(--color-foreground);
    text-decoration: none;
  }
</style>
