---
import { Container } from '@/components/container';
---

<footer class="footer">
  <Container>
    <p>
      Created by{' '}
      <a href="https://twitter.com/remvze">
        Maze <span>✦</span>
      </a>
    </p>
  </Container>
</footer>

<style>
  .footer {
    display: flex;
    align-items: center;
    height: 100px;

    & p {
      font-size: var(--font-sm);
      color: var(--color-foreground-subtle);
      text-align: center;

      & a {
        font-weight: 500;
        color: var(--color-foreground);
        text-decoration: none;

        & span {
          color: #c0eb75;
        }
      }
    }
  }
</style>
