.playButton {
  position: sticky;
  bottom: 30px;
  display: flex;
  width: 150px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  border-top: 2px solid #818cf8;
  border-bottom: 3px solid #4f46e5;
  margin: 40px auto 0;
  background-color: #6366f1;
  color: var(--color-foreground);
  cursor: pointer;
  font-family: var(--font-heading);
  font-size: var(--font-base);
  line-height: 0;
  outline: none;

  & span {
    font-size: var(--font-lg);
  }
}
