.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  & .title {
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-foreground-subtle);
  }

  & .buttons {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;

  & .completed {
    font-size: var(--font-xsm);
    color: var(--color-foreground-subtle);
  }

  & .buttons {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }
}
