.footer {
  display: flex;
  align-items: center;
  height: 100px;

  & p {
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);
    text-align: center;

    & a {
      font-weight: 500;
      color: var(--color-foreground);
      text-decoration: none;
    }
  }
}
