.footer {
  display: flex;
  height: 100px;
  align-items: center;

  & p {
    color: var(--color-foreground-subtle);
    font-size: var(--font-sm);
    text-align: center;

    & a {
      color: var(--color-foreground);
      text-decoration: none;

      & span {
        color: #c0eb75;
      }
    }
  }
}
