.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: var(--font-md);
  color: var(--color-foreground);
  pointer-events: auto;
  cursor: pointer;
  background-color: var(--bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: 0.2s;

  &:focus-visible {
    outline: 2px solid var(--color-muted);
    outline-offset: 2px;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--bg-tertiary);
  }
}
