.tooltip {
  width: max-content;
  padding: 6px 12px;
  font-size: var(--font-xsm);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 100px;
}
