.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  touch-action: none;
}

.sliderTrack {
  position: relative;
  flex-grow: 1;
  height: 4px;
  background: var(--color-neutral-200);
  border-radius: 9999px;
}

.sliderRange {
  position: absolute;
  height: 100%;
  background: var(--color-neutral-800);
  border-radius: 9999px;
}

.sliderThumb {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: var(--color-neutral-950);
  border-radius: 50%;
  box-shadow: 0 0 3px var(--color-neutral-50);
}

.sliderThumb:hover {
  background: var(--color-neutral-800);
}

.sliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-neutral-400);
}
